{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "rules": {
    "react/prefer-es6-class": 0,
    "wrap-iife": 0,
    "new-cap": 0,
    "max-len": 0,
    "react/sort-comp": 0
  }
}
